#view-source {
  position: float;
  display: block;
  right: 0;
  top: 0;
  text-align:center;
}

body {
  height: 100%;
  padding-bottom: 15px;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#map {
  height: 95%;
}

#float-but {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  z-index: 900;
}
